<section id="hero" class="login">
	<div class="container">
  	<div class="row">
    	<div class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3">
      	<div id="login">
      		<div class="text-center"><img src="/assets/logo_sticky.png" alt="" data-retina="true" ></div>
          <hr>

          <div class="row">
          <div class="col-md-12 col-sm-12 login_social">
						<%= link_to 'Facebook', user_facebook_omniauth_authorize_path(:facebook), class: 'btn btn-primary btn-block icon-facebook'%>
          </div>
          <!-- <div class="col-md-6 col-sm-6 login_social">
              <a href="#" class="btn btn-info btn-block "><i class="icon-twitter"></i>Twitter</a>
          </div> -->
          </div> <!-- end row -->
          <div class="login-or"><hr class="hr-or"><span class="span-or">or</span></div>

            <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
							<%= f.error_notification %>
              <div class="form-group">
                <%= f.input :email, required: false, autofocus: true, placeholder: "Username", class: "form-control" %>
              </div>
              <div class="form-group">
                <%= f.input :password, required: false, placeholder: "Password", class: "form-control" %>
              </div>
                <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
              <p class="small">
                  <a href="#"><%= render "devise/shared/links" %></a>
              </p>
              <%= f.button :submit, "Sign in", class: "btn_full" %>
              <%= link_to "Register", new_user_registration_path, class: "btn_full_outline" %>
            <% end %>

        </div>
      </div>
    </div>
  </div>
</section>
