
    <%= form_for @payment do |f| %>
      <% if @payment.errors.any? %>
        <div id="error_explanation">
          <h2>
            <%= pluralize(@payment.errors.count, "error") %>
            prohibited this registration from being saved:
          </h2>
          <ul>
            <% @payment.errors.full_messages.each do |message| %>
              <li>
                <%= message %>
              </li>
            <% end %>
          </ul>
        </div>
      <% end %>
      <div class="field">
        <%= f.hidden_field :user_id, value: current_user.id %>
      </div>
      <!-- <div class="col-xs-4">
        <h4 class="text-right">Subtotal: <span style="color: green"><%= number_to_currency(@cart.total_price) %></span></h4>
      </div>
      <div class="actions">
        <%= f.submit "", type: :image, src: "https://www.paypal.com/en_US/i/btn/btn_xpressCheckout.gif" %>
      </div> -->




<section id="hero_2">
 <div class="intro_title animated fadeInDown">
          <h1>Place your order</h1>
           <div class="bs-wizard">

               <div class="col-xs-4 bs-wizard-step complete">
                 <div class="text-center bs-wizard-stepnum">Your cart</div>
                 <div class="progress"><div class="progress-bar"></div></div>
                 <%= link_to "", cart_path(@cart), class: "bs-wizard-dot" %>
               </div>

               <div class="col-xs-4 bs-wizard-step active">
                 <div class="text-center bs-wizard-stepnum">Your details</div>
                 <div class="progress"><div class="progress-bar"></div></div>
                 <a href="#" class="bs-wizard-dot"></a>
               </div>

             <div class="col-xs-4 bs-wizard-step disabled">
                 <div class="text-center bs-wizard-stepnum">Finish!</div>
                 <div class="progress"><div class="progress-bar"></div></div>
                 <a href="confirmation.html" class="bs-wizard-dot"></a>
               </div>

   </div>  <!-- End bs-wizard -->
   </div>   <!-- End intro-title -->
</section><!-- End Section hero_2 -->

   <div id="position">
     <div class="container">
       <ul>
         <li><%= link_to "Home", store_url %></li>
         <li><%= link_to "Event", store_url %></li>
         <li><%= link_to "Cart", @cart %></li>
         <li><%= link_to "Payment", new_payment_path %></li>
       </ul>
       </div>
   </div><!-- End position -->

<div class="container margin_60">
 <div class="row">
   <div class="col-md-8">
     <div class="form_title">
       <h3><strong>1</strong>Your Details</h3>
       <!-- <p>
         Mussum ipsum cacilds, vidis litro abertis.
       </p> -->
     </div>
     <div class="step">
       <div class="row">
         <div class="col-md-6 col-sm-6">
           <div class="form-group">
             <label>Name</label>
             <input type="text" class="form-control" id="firstname_booking" name="firstname_booking" value= <%= current_user.name %> readonly=true >
           </div>
         </div>
       </div>
       <div class="row">
         <div class="col-md-6 col-sm-6">
           <div class="form-group">
             <label>Email</label>
             <input type="email" id="email_booking" name="email_booking" class="form-control" value= <%= current_user.email %> readonly=true >
           </div>
         </div>
       </div>
     </div><!--End step -->

     <div class="form_title">
       <h3><strong>2</strong>Payment Information</h3>
       <p>
         MOLPay
       </p>
     </div>
     <div class="step">
       <!-- <div class="form-group">
         <label>Name on card</label>
         <input type="text" class="form-control" id="name_card_bookign" name="name_card_bookign">
       </div>
       <div class="row">
         <div class="col-md-6 col-sm-6">
           <div class="form-group">
             <label>Card number</label>
             <input type="text" id="card_number" name="card_number" class="form-control">
           </div>
         </div>
         <div class="col-md-6 col-sm-6">
           <img src="img/cards.png" width="207" height="43" alt="Cards" class="cards">
         </div>
       </div>
       <div class="row">
         <div class="col-md-6">
           <label>Expiration date</label>
           <div class="row">
             <div class="col-md-6">
               <div class="form-group">
                 <input type="text" id="expire_month" name="expire_month" class="form-control" placeholder="MM">
               </div>
             </div>
             <div class="col-md-6">
               <div class="form-group">
                 <input type="text" id="expire_year" name="expire_year" class="form-control" placeholder="Year">
               </div>
             </div>
           </div>
         </div>
         <div class="col-md-6">
           <div class="form-group">
             <label>Security code</label>
             <div class="row">
               <div class="col-md-4">
                 <div class="form-group">
                   <input type="text" id="ccv" name="ccv" class="form-control" placeholder="CCV">
                 </div>
               </div>
               <div class="col-md-8">
                 <img src="img/icon_ccv.gif" width="50" height="29" alt="ccv"><small>Last 3 digits</small>
               </div>
             </div>
           </div>
         </div>
       </div><!-End row -->






       <hr>

       <h4>Or checkout with Paypal</h4>
       <!-- <p>
         Paypal is trusted
       </p> -->
       <p>
         <%= f.submit "", type: :image, src: "https://www.paypal.com/en_US/i/btn/btn_xpressCheckout.gif" %>
       </p>
     </div><!--End step -->

     <!-- <div class="form_title">
       <h3><strong>3</strong>Billing Address</h3>
       <p>
         Mussum ipsum cacilds, vidis litro abertis.
       </p>
     </div>
     <div class="step">
       <div class="row">
         <div class="col-md-6 col-sm-6">
           <div class="form-group">
             <label>Country</label>
             <select class="form-control" name="country" id="country">
               <option value="" selected>Select your country</option>
               <option value="Europe">Europe</option>
               <option value="United states">United states</option>
               <option value="Asia">Asia</option>
             </select>
           </div>
         </div>
       </div>
       <div class="row">
         <div class="col-md-6 col-sm-6">
           <div class="form-group">
             <label>Street line 1</label>
             <input type="text" id="street_1" name="street_1" class="form-control">
           </div>
         </div>
         <div class="col-md-6 col-sm-6">
           <div class="form-group">
             <label>Street line 2</label>
             <input type="text" id="street_2" name="street_2" class="form-control">
           </div>
         </div>
       </div>
       <div class="row">
         <div class="col-md-6">
           <div class="form-group">
             <label>City</label>
             <input type="text" id="city_booking" name="city_booking" class="form-control">
           </div>
         </div>
         <div class="col-md-3">
           <div class="form-group">
             <label>State</label>
             <input type="text" id="state_booking" name="state_booking" class="form-control">
           </div>
         </div>
         <div class="col-md-3">
           <div class="form-group">
             <label>Postal code</label>
             <input type="text" id="postal_code" name="postal_code" class="form-control">
           </div>
         </div>
       </div><!End row >
     </div><!-End step -->

     <div id="policy">
       <h4>Cancellation policy</h4>
       <div class="form-group">
         <label><input type="checkbox" name="policy_terms" id="policy_terms">I accept terms and conditions and general policy.</label>
       </div>
       <!-- <a href="confirmation.html" class="btn_1 green medium">Book now</a> -->
     </div>
   </div>

   <aside class="col-md-4">
   <div class="box_style_1">
     <h3 class="inner">- Summary -</h3>
     <table class="table table_summary">
     <tbody>
       <% @ticket.each do |ticket| %>
       <tr>
         <td>
           <%= Ticket.find(ticket).ticket_type %>
         </td>
         <td class="text-right">
           <%= @line_items.where(ticket_id: ticket).pluck(:quantity).sum %>
         </td>
       </tr>
       <% end %>
     <tr class="total">
       <td>
           Total cost
       </td>
       <td class="text-right">
         RM<%= @cart.total_price %>
       </td>
     </tr>
     </tbody>
     </table>
     <!-- <a class="btn_full" href="confirmation.html">Book now</a> -->
     <%= link_to "Continue", cart_path(@cart), class: "btn_full_outline icon-right" %>
   </div>
   <div class="box_style_4">
     <i class="icon_set_1_icon-57"></i>
     <h4>Need <span>Help?</span></h4>
     <a href="tel://004542344599" class="phone">+45 423 445 99</a>
     <small>Monday to Friday 9.00am - 7.30pm</small>
   </div>
   </aside>

 </div><!--End row -->
</div><!--End container -->
<% end %>

<%= form_tag('https://www.onlinepayment.com.my/MOLPay/pay/Dcity_Dev/', method: :post) do %>
 <%= text_field_tag 'amount', @cart.total_price %>
 <%= text_field_tag 'orderid', @cart.id %>
 <%= text_field_tag 'bill_name', 'Tickets purchased from tixipro' %>
 <%= text_field_tag 'bill_email', current_user.email %>
 <%= text_field_tag 'bill_mobile', '0123456789' %>
 <%= text_field_tag 'bill_desc', 'tickets' %>
 <%= text_field_tag 'country', 'MY' %>
 <%= text_field_tag 'vcode', @vcode_dd %>

  <p>
   <%= submit_tag 'Pay with molpay' %>
  </p>
<% end %>

<br>

<%= form_tag('https://www.onlinepayment.com.my/MOLPay/pay/test7029/', method: :post) do %>
 <%= text_field_tag 'amount', @cart.total_price %>
 <%= text_field_tag 'orderid', @cart.id %>
 <%= text_field_tag 'bill_name', 'Tickets purchased from tixipro' %>
 <%= text_field_tag 'bill_email', current_user.email %>
 <%= text_field_tag 'bill_mobile', '0123456789' %>
 <%= text_field_tag 'bill_desc', 'tickets' %>
 <%= text_field_tag 'country', 'MY' %>
 <%= text_field_tag 'vcode', @vcode_cc %>

  <p>
   <%= submit_tag 'Pay with Credit Card' %>
  </p>
<% end %>
