<!DOCTYPE html>
<html>
<head>
  <title>Ticket Master</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="keywords" content="kuala lumpur, kl, art, festival, dance, comedy, traditional, literature, music" />
  <meta name="description" content="DiverseCity Kuala Lumpur 2015 Ticketing">
  <meta name="author" content="alireza.io">
  <title>Ticket Master</title>

  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>

  <!-- Favicons-->
  <%= favicon_link_tag ("favicon.ico"), rel: 'apple-touch-icon', type: 'image/x-icon' %>
  <% image_tag ("apple-touch-icon-57x57-precomposed.png"), rel: 'apple-touch-icon', type: 'image/x-icon' %>
  <% image_tag ("apple-touch-icon-72x72-precomposed.png"), size: "72", rel: 'apple-touch-icon', type: 'image/x-icon' %>
  <% image_tag ("apple-touch-icon-114x114-precomposed.png"), size: "114", rel: 'apple-touch-icon', type: 'image/x-icon' %>
  <% image_tag ("apple-touch-icon-144x144-precomposed.png"), size: "144", rel: 'apple-touch-icon', type: 'image/x-icon' %>

  <!-- CSS -->
  <%= stylesheet_link_tag 'base.css' %>

  <!-- Google web fonts -->
 <link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
 <link href='http://fonts.googleapis.com/css?family=Gochi+Hand' rel='stylesheet' type='text/css'>
 <link href='http://fonts.googleapis.com/css?family=Lato:300,400' rel='stylesheet' type='text/css'>

  <!--[if lt IE 9]>
    <script src="js/html5shiv.min.js"></script>
    <script src="js/respond.min.js"></script>
  <![endif]-->
  <%= csrf_meta_tags %>
</head>
<body>

      <div id="preloader">
          <div class="sk-spinner sk-spinner-wave">
              <div class="sk-rect1"></div>
              <div class="sk-rect2"></div>
              <div class="sk-rect3"></div>
              <div class="sk-rect4"></div>
              <div class="sk-rect5"></div>
          </div>
      </div>
      <!-- End Preload -->

      <div class="layer"></div>
      <!-- Mobile menu overlay mask -->

      <!-- Header================================================== -->
      <header>
          <div id="top_line">
              <div class="container">
                  <div class="row">
                      <div class="col-md-6 col-sm-6 col-xs-6"></div>

                      <div class="col-md-6 col-sm-6 col-xs-6">
                          <ul id="top_links">
                              <li>
                                  <div class="dropdown dropdown-access">

                                    <% if user_signed_in? %>
                                      <%= link_to 'Sign out', destroy_user_session_path, :method => :delete, class: "dropdown-toggle", style: "background-color: #000000" %>
                                    <% else %>
                                      <a href="#" class="dropdown-toggle" data-toggle="dropdown" id="access_link">Sign in</a>
                                      <div class="dropdown-menu">
                                          <div class="row">
                                              <div class="col-md-12 col-sm-12 col-xs-12">
                                                <%= link_to 'Facebook', user_facebook_omniauth_authorize_path(:facebook), class: 'bt_facebook icon-facebook' unless user_signed_in? %>
                                              </div>
                                              <!-- <div class="col-md-6 col-sm-6 col-xs-6">
                                                  <a href="#" class="bt_paypal">
                                                      <i class="icon-paypal"></i>Paypal </a>
                                              </div> -->
                                          </div>
                                          <div class="login-or">
                                              <hr class="hr-or">
                                              <span class="span-or">or</span>
                                          </div>

                                          <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

                                            <div class="form-group">
                                              <%= f.email_field :email, required: false, autofocus: true, placeholder: "Email", class: "form-control" %>
                                            </div>
                                            <div class="form-group">
                                              <%= f.password_field :password, required: false, placeholder: "Password", class: "form-control" %>
                                              <a><%= link_to "Forgot password?", new_user_password_path, style: "color: grey" %></a>
                                            </div>

                                              <%= f.submit "Sign in", class: "button_drop" %>
                                              <%= link_to "Register", new_user_registration_path, class: "button_drop outline" %>
                                          <% end %>


                                      </div>
                                      <% end %>
                                  </div><!-- End Dropdown access -->
                              </li>
                          </ul>
                      </div>
                  </div><!-- End row -->
              </div><!-- End container-->
          </div><!-- End top line-->

          <div class="container">
              <div class="row">
                  <div class="col-md-3 col-sm-3 col-xs-3">
                      <div id="logo">
                        <a href="/"><%= image_tag ("logo_sticky.png"), width: "160", height: "34", alt: 'DiverseCity', data: {retina: true}, class: "logo_normal" %></a>
                        <a href="/"><%= image_tag ("logo_sticky.png"), width: "160", height: "34", alt: 'DiverseCity', data: {retina: true}, class: "logo_sticky" %></a>
                      </div>
                  </div>
                  <nav class="col-md-9 col-sm-9 col-xs-9">
                      <a class="cmn-toggle-switch cmn-toggle-switch__htx open_close" href="javascript:void(0);"><span>Menu mobile</span></a>
                      <div class="main-menu">
                          <div id="header_menu">
                            <%= image_tag ("logo_sticky.png"), width: "160", height: "34", alt: 'DiverseCity', data: {retina: true} %>
                          </div>
                          <a href="#" class="open_close" id="close_in"><i class="icon_set_1_icon-77"></i></a>
                          <ul>
                              <li class="submenu">
                                  <%= link_to "Home", store_url, class: "show-submenu" %>
                              </li>
                              <% if user_signed_in? %>
                                <% if current_user.admin? %>
                                  <li class="submenu">
                                      <%= link_to "Admin Dashboard", events_path, class: "show-submenu" %>
                                  </li>
                                <% end %>

                                <% if current_user.admin? || current_user.curator? || current_user.subcurator? %>
                                  <li class="submenu">
                                      <%= link_to "My Tickets", my_tickets_path, class: "show-submenu" %>
                                  </li>
                                <% end %>
                              <% end %>
                              <li class="submenu">
                                  <a href="javascript:void(0);" class="show-submenu">Genres <i class="icon-down-open-mini"></i></a>
                                  <ul>
                                      <li><a href="http://diversecity.my/dance.html">Dance</a></li>
                                      <li><a href="http://diversecity.my/music.html">Music</a></li>
                                      <li><a href="http://diversecity.my/comedy.html">Comedy</a></li>
                                      <li><a href="http://diversecity.my/traditional.html">Traditional</a></li>
                                      <li><a href="http://diversecity.my/literature.html">Literature</a></li>
                                  </ul>
                              </li>
                               <li class="submenu">
                                  <a href="javascript:void(0);" class="show-submenu">Venues <i class="icon-down-open-mini"></i></a>
                                  <ul>
                                    <% Event.all.map(&:venue).uniq.each do |e| %>
                                      <li><a href="/?venue=<%= e %>"><%= e %></a></li>
                                    <% end %>
                                  </ul>
                              </li>

                              <% if user_signed_in? %>
                                <li class="submenu">
                                  <%= link_to 'Sign out', destroy_user_session_path, method: :delete, class: "show-submenu" %>
                                </li>
                              <% else %>
                                <li class="submenu">
                                  <%= link_to "Sign in", new_user_session_path, class: "show-submenu" %>
                                </li>
                                <li class="submenu">
                                  <%= link_to "Register", new_user_registration_path, class: "show-submenu" %>
                                </li>
                              <% end %>
                          </ul>
                      </div><!-- End main-menu -->
                      <ul id="top_tools">
                          <li>
                              <div class="dropdown dropdown-search">
                                  <!-- <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="icon-search"></i></a> -->
                                  <div class="dropdown-menu">
                                      <form>
                                          <div class="input-group">
                                              <input type="text" class="form-control" placeholder="Search...">
                                              <span class="input-group-btn">
                                              <button class="btn btn-default" type="button" style="margin-left:0;">
                                              <i class="icon-search"></i>
                                              </button>
                                              </span>
                                          </div>
                                      </form>
                                  </div>
                              </div>
                          </li>
                          <li>
                              <div class="dropdown dropdown-cart">
                                <% if current_cart.present? %>
                                  <a><i class=" icon-basket-1"></i><%= render 'layouts/cart_text' if user_signed_in? %></a>
                                <% end %>
                                  <ul class="dropdown-menu" id="cart_items">
                                      <li>
                                        <div class="image"><%= image_tag ("thumb_cart_1.jpg"), alt: '' %></a></div>
                                          <strong>
  										<a href="#">Pak Pandir Yo!</a>1x RM36.00 </strong>
                                          <a href="#" class="action"><i class="icon-trash"></i></a>
                                      </li>
                                      <li>
                                          <div class="image"><%= image_tag ("thumb_cart_2.jpg"), alt: '' %></div>
                                          <strong>
  										<a href="#">The Tree</a>2x RM36.00 </strong>
                                          <a href="#" class="action"><i class="icon-trash"></i></a>
                                      </li>
                                      <li>
                                          <div class="image"><%= image_tag ("thumb_cart_3.jpg"), alt: '' %></div>
                                          <strong>
  										<a href="#">Tepak Tari</a>1x RM36.00 </strong>
                                          <a href="#" class="action"><i class="icon-trash"></i></a>
                                      </li>
                                      <li>
                                          <div>Total: <span>RM120.00</span></div>
                                          <a href="cart.html" class="button_drop">Go to cart</a>
                                          <a href="payment.html" class="button_drop outline">Check out</a>
                                      </li>
                                  </ul>
                              </div><!-- End dropdown-cart-->
                          </li>
                      </ul>
                  </nav>
              </div>
          </div><!-- container -->

          <div class="container" id="success-alert">
            <% if flash[:notice] %>
              <div class="alert alert-success alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <%= flash[:notice] %>
              </div>
            <% elsif flash[:error] %>
              <div class="alert alert-warning alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <%= flash[:error] %>
              </div>
            <% elsif flash[:alert] %>
              <div class="alert alert-danger alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <%= flash[:alert] %>
              </div>
            <% end %>

            <script type="text/javascript">

              $("#success-alert").fadeTo(3000, 500).slideUp(500, function(){
                  $("#success-alert").alert('close');
              });

            </script>
          </div>

      </header><!-- End Header -->

  <%= yield %>

</body>

 <%= render 'layouts/footer' %>

<%= javascript_include_tag 'functions.js' %>

</html>
